# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-specific
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite

# Media files
/media
/media/*

# Static files
/static
/staticfiles

# Local settings
local_settings.py
.env
.env.*

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
